@model Account
@{
    ViewData["Title"] = "ForgotPassword";
}

<form asp-controller="Login" asp-action="ForgotPassword" method="post">
      <label asp-for="@Model.Email"></label>
        <input type="email" asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>
        <input type="submit" value="Send Email" class="btn btn-info">
</form>

@section Scripts {
  @{
    <partial name="_ValidationScriptsPartial" />
  }
}